<div class="container-fluid">
  <form [formGroup]="editUser" (ngSubmit)="updateUser()" #myForm="ngForm">
    <h2 class="row justify-content-center" style="margin-top: 40px;">Edit User Information</h2>
    <div class="form-group mt-5">
      <input type="hidden" formControlName="id" class="form-control" placeholder="ID">
      <div class="container">
        <div class="row justify-content-center">
          <div class="form-group col-md-6 col-md-offset-5 align-center">
            <input type="text" formControlName="first_name" class="form-control" placeholder="Enter your First Name">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group col-md-6 col-md-offset-5 align-center">
            <div *ngIf="editUser.controls['first_name'].invalid && (editUser.controls['first_name'].dirty || editUser.controls['first_name'].touched)" class="alert alert-danger">
              <div *ngIf="editUser.controls['first_name'].errors.required">
                <span>User Name is required.</span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="form-group col-md-6 col-md-offset-5 align-center">
            <input type="text" formControlName="last_name" class="form-control" placeholder="Enter your Last Name">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group col-md-6 col-md-offset-5 align-center">
            <div *ngIf="editUser.controls['last_name'].invalid && (editUser.controls['last_name'].dirty || editUser.controls['last_name'].touched)" class="alert alert-danger">
              <div *ngIf="editUser.controls['last_name'].errors.required">
                <span> Password is required.</span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="form-group col-md-6 col-md-offset-5 align-center">
            <input type="email" formControlName="email" class="form-control" placeholder="Enter your Email">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="form-group col-md-6 col-md-offset-5 align-center">
            <div *ngIf="editUser.controls['email'].invalid && (editUser.controls['email'].dirty || editUser.controls['email'].touched)" class="alert alert-danger">
              <div *ngIf="editUser.controls['email'].errors.required">
                <span>email is required.</span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="container">
        <div class="row justify-content-center">
          <button  class="btn btn-primary" type="submit" [disabled]="myForm.invalid">Update User</button>
          <button  class="btn btn-primary"[routerLink]="['/Users']" style=" margin-left: 355px" (click)="onNoClick()">
            Go Back
          </button>
        </div>
      </div>


   </div>
  </form>
</div>
